**/Obsolete
**/obsolete
**/win32
**/__history
**/ignore
*.local
*.stat
*.identcache
*inholland*
/src/dgate/build32
/src/dgate/build64
/.vs/Conquest-DICOM-Server/CopilotIndices/17.14.1091.29919
/.vs/Conquest-DICOM-Server/FileContentIndex
/.vs/Conquest-DICOM-Server/v17
/.vs
